.sidebar{
  width: 20%;
  background-color: rgb(244,244,246);
}

.listItem:hover{
  background-color:rgb(100,127,221);
  cursor: pointer;
}
.content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.logout{
  border-radius: 5px;
  background-color: rgb(50,127,221);
  width: 100px;
  margin: auto;
  color:white;
}
.secondTitle{
  font-size: 20px;
}

.fullWidth {
  width: 100%;
}

.addPadding {
  padding: 10px;
}

ul{
  padding:0; list-style-type:none;
}

.title{
  color:rgb(50,127,221);
  padding-left: 10px;
}

.list{
  display:flex;
  flex-direction: column;
}

.selected{
  background-color: rgb(50,127,221);
  color:white;
}
