.width90{
  width:90%;
}

table{
  width:60%;
  border: 1px solid black;
  text-align: left;
  border-collapse:collapse;
}

.alternate {
    background: rgb(244,244,246);
}

.contentTable
{
  width:60%;
  padding: 25px;
}
